<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.micahrosales.alfred-emoji-rs</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>CF598643-C6A6-42AA-8A90-BF72218C9149</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33D447DA-6B09-44DC-974A-ACAACC2F224D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2800F715-85FE-4E45-8E30-20215AA538E5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1F26B4D6-FC9F-49D6-835A-400CAF196F4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5E7089BE-70A4-4B4F-A3A8-CE47AFCED92C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1F26B4D6-FC9F-49D6-835A-400CAF196F4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C7E1BCF-D0C2-421C-9FC7-19B50B56FE54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF598643-C6A6-42AA-8A90-BF72218C9149</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Micah Rosales</string>
	<key>description</key>
	<string>Look up emojis by keyword (fuzzy + alias search, Rust)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emoji (Rust)</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>33D447DA-6B09-44DC-974A-ACAACC2F224D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>e</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Results</string>
				<key>script</key>
				<string>./alfred-emoji "$@"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Searching for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9C7E1BCF-D0C2-421C-9FC7-19B50B56FE54</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>paste</string>
						<key>outputlabel</key>
						<string>paste</string>
						<key>uid</key>
						<string>2800F715-85FE-4E45-8E30-20215AA538E5</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string>copy</string>
						<key>uid</key>
						<string>5E7089BE-70A4-4B4F-A3A8-CE47AFCED92C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CF598643-C6A6-42AA-8A90-BF72218C9149</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1F26B4D6-FC9F-49D6-835A-400CAF196F4C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Emoji Lookup Workflow (Rust)

Easily search for emojis using Alfred, with fuzzy and alias search matching.

Customization:

Set the `skin_tone` variable to one of:
* (empty – default tone)
* light
* medium_light
* medium
* medium_dark
* dark</string>
	<key>uidata</key>
	<dict>
		<key>1F26B4D6-FC9F-49D6-835A-400CAF196F4C</key>
		<dict>
			<key>note</key>
			<string>Copy Emoji Symbol to the clipboard</string>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>2800F715-85FE-4E45-8E30-20215AA538E5</key>
		<dict/>
		<key>33D447DA-6B09-44DC-974A-ACAACC2F224D</key>
		<dict>
			<key>note</key>
			<string>Paste Emoji Symbol in frontmost app</string>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>5E7089BE-70A4-4B4F-A3A8-CE47AFCED92C</key>
		<dict/>
		<key>9C7E1BCF-D0C2-421C-9FC7-19B50B56FE54</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>CF598643-C6A6-42AA-8A90-BF72218C9149</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>skin_tone</key>
		<string></string>
	</dict>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://micahrosales.com</string>
</dict>
</plist>
